<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout :: header"></head>

<body>

	<nav th:replace="layout :: foo"></nav>

  <div class="container">
    	<h3>Current Projects</h3>
    	<a th:text="${versionNumber}"></a>
    	<table>
    		<thead>
    			<tr>
    				<th>Project name </th>
    				<th>Project stage </th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="aProject : ${projectList}">
    			<td th:text="${aProject.name}" />
    			<td th:text="${aProject.stage}" />
    			</tr>
    		</tbody>
    	</table>
    </div>
    <br/>
    <br/>
        <div class="container">
    	<h3>Project's Employees</h3>
    	<table>
    		<thead>
    			<tr>
    				<th>First name </th>
    				<th>Last name  </th>
    				<th>Email 	   </th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="anEmployee : ${employeeList}">
    			<td th:text="${anEmployee.firstName}" />
    			<td th:text="${anEmployee.lastName}" />
    			<td th:text="${anEmployee.email}" />
    			</tr>
    		</tbody>
    	</table>
    </div>
</body>
</html>