<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="layout :: header"></head>

<body>

	<nav th:replace="layout :: foo"></nav>
	    
        <div class="container">
    	<h3>Project's Employees</h3>
    	<hr>
    	
    	<!-- Add new Employee button -->
    	<a th:href="@{/employees/new}"
    	class="btn btn-primary btn-sm mb-3"> Add Employee</a>
    	
    	<table class="table table-bordered table-striped">
    		<thead class="thead-dark">
    			<tr>
    				<th>First name </th>
    				<th>Last name  </th>
    				<th>Email 	   </th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr th:each="anEmployee : ${employeeList}">
    			<td th:text="${anEmployee.firstName}" />
    			<td th:text="${anEmployee.lastName}" />
    			<td th:text="${anEmployee.email}" />
    			</tr>
    		</tbody>
    	</table>
    </div>
</body>
</html>